
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}
header{
  width: 100%;
  display: flex;
background-color: rgba(0, 0, 0, 0);
height: 10vh;
align-items: center ;
justify-content: space-between;
padding: 20px 40px;
position: fixed;
z-index: 10;
}
header ul{
  display: flex;
  gap: 20px;
  align-items: center;
}
header ul>li{
  list-style: none;
}
header a{
  text-decoration: none;
  color: white;
}
header a:hover{
  background-color:white;
  color: black;
  border-radius: 5%;
}
.left-header{
display: flex;
gap: 30px;
}
.left-header>img{
  width: 100px;

}
.main-hero{
  width: 100%;
  height: 100vh; 
  position:relative ;

}

.upper-hero{
  position: absolute;
  background-color: rgba(240, 248, 255, 0);
  width: 100%;
  height: 100%;
  display: flex;

flex-direction: column;
justify-content: center;
gap: 20px;
padding: 80px;
}
.upper-hero>h1{
  color: red;
  font-size: 60px;

}
.upper-hero>p{
  color: white;
line-height: 30px;
}
.btn{
padding: 10px 20px;
border-radius: 5px;
font-size: 20px;
border-style: none;
font-weight: 500;
margin-right: 20px;
}
.info-btn{
  background-color: rgba(255, 255, 255, 0.301);
  color: white;
}
.main-hero>video{
 width: 100%;
 height: 100%;
 object-fit: cover;
}
.scroll-section{
  margin-left: 15px;
  height: 300px;
  width: 100%;
 margin-top: 100px;
}
.scroll-section h2{
color: white;
}

.scroll-mian{
  height:300px;
  width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x:scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    justify-content: center;
    gap: 20px;

}
.box{
  width: 180px;
  height:250px;
  background-color:red;
   flex-shrink: 0;
   transition: all 0.5s ease;
}
.box>img{
    width:180px;
    height:250px;
    transition: all 0.5s ease;
}
.box:hover{
    width:190px;
    height:260px ;
    transition: all 0.5s ease;
}
.box:hover img{
   width:200px;
    height:280px ;
    transition: all 0.5s ease;
}

